<%- include("partials/header", {tituloWeb: "Productos"}) -%>
<%- include("partials/body") -%>
  <% if(response) { %>
    <h2 class="col-12 text-center">Producto agregado</h2>
    <%- include("partials/product", {
      nombre: response.new.nombre,
      imagen: response.new.imagen,
      precio: response.new.precio
    }) %>
    
    <h2 class="col-12 text-center">Producto reemplazado</h2>
    <%- include("partials/product", {
      nombre: response.previous.nombre,
      imagen: response.previous.imagen,
      precio: response.previous.precio
    }) %>

  <% } else { %>
    <h4 class="text-center">Alguno de los campos ha quedado sin rellenar</h4>
  <% } %>
<%- include("partials/footer") -%>